/* .btnMenu{
    display: block;
    background-repeat: no-repeat;
    background-position: 15px center;
    text-indent: -9999px;
    padding: 20px 15px;
}

.btnMenu_open{
    background-image: url(../assets/retangulos-de-menu.png);
}

.btnMenu_close{
    background-color: #00ff7f;
    background-image: url(../assets/retangulos-de-menu-branco.png);
} */